@font-face{
    font-family:OdinFont;
    src:url("./Norse-Bold.otf") format("opentype");
}

*{
    margin:0;
    padding:0;
}
:root{
    background:black;
}
.container{
    display:flex;
    margin-left:auto;
    justify-content: center;
    font-family:sans-serif;
}
.img{
    width:550px;
    height:100vh;
}
.logo{
    position:fixed;
    width:100px;
    margin: 23vh 0 0 13vh;
}
.box-text{
    position:fixed;
    font-size:92px;
    color:white;
    font-family:OdinFont;
    margin:24vh;
}
.text-box{
    position:fixed;
    width:550px;
    height:150px;
    background:black;
    margin-top:22vh;
    opacity:.4;
}
.form{
    width:850px;
    display:flex;
    flex-direction:column;
    padding:20vh 0;
    background:#FFFEF2;
    height:60vh;
}
p{
    font-size:23px;
    font-weight:700;
    margin-bottom: 5vh;
    background:#FFFEF2;
}
fieldset{
    background:white;
    border:0;
    box-shadow: 2px 4px 10px;
}
.first-row, .second-row, .third-row{
    display:flex;
    justify-content:left;
    padding: 0 5vh;
}
p, span, a, h3{
    padding:0 5vh;
}
button{
    margin:3vh 5vh 1vh 5vh;
    background:#596D48;
    padding: 1.5vh 4vw;
    border-radius:1vh;
    color:white;
    font-size:18px;
    font-weight:700;
}
h3{
    font-size:20px;
    font-weight:600;
    margin:15px 0 15px 0;
}
label{
    font-size:12px;
}
input{
    font-size:22px;
    margin:5px 40px 25px 0px;
    border:#E5E7EB solid 1px;
}
input:invalid{
    border:2px solid red;
}
input:focus{
    border:3px solid blue;
    outline:0;
}

fieldset[data-error] div .input{
    border:2px solid red;
}